<div class='row'>
  <div class='col-lg-8 col-lg-offset-2'>
    <h2>Editing Meeting</h2>

    <%= render 'form' %>

    <% destination = @meeting.date && @meeting.date < Date.today ? past_meetings_path : upcoming_meetings_path %>
    <%= link_to 'Show', @meeting %> |
    <%= link_to 'Back', destination %>
  </div>
</div>