<p id="notice"><%= notice %></p>

<h1>Upcoming Meetings</h1>

<% if @meetings.size == 0 %>
  <p>No meetings have been scheduled yet! <a href='http://twitter.com/testrubypdx'>Follow @TestRubyPDX on Twitter</a> and you'll be the first to know when we announce one.</p>
<% else %>
  <%= render 'list' %>
<% end %>

<br>