<p id="notice"><%= notice %></p>

<h1>Upcoming Meetings</h1>
<p>Unless otherwise noted, all meetings are held at the office of <a href='http://www.renewfinancial.com'>Renew Financial</a> on the 8th floor of <strong>400 SW 6th Ave., Portland, OR 97202</strong>.</p>
<% if @meetings.size == 0 %>
  <p>No meetings have been scheduled yet! <a href='http://twitter.com/testrubypdx'>Follow @TestRubyPDX on Twitter</a> and you'll be the first to know when we announce one.</p>
<% else %>
  <%= render 'list' %>
<% end %>

<br>