/* line 5, /Users/dana/Development/testrubypdx/app/assets/stylesheets/users.scss */
table {
  width: 100%;
}
/* line 8, /Users/dana/Development/testrubypdx/app/assets/stylesheets/users.scss */
table tr > th {
  min-width: 15%;
}

/* line 14, /Users/dana/Development/testrubypdx/app/assets/stylesheets/users.scss */
#new_user .field, #new_user .actions, #edit_user .field, #edit_user .actions {
  margin-top: 1em;
  margin-bottom: 1em;
}
