/* line 5, /Users/dana/Development/testrubypdx/app/assets/stylesheets/users.scss */
table {
  width: 100%;
}
/* line 8, /Users/dana/Development/testrubypdx/app/assets/stylesheets/users.scss */
table tr > th {
  min-width: 15%;
}

/* line 15, /Users/dana/Development/testrubypdx/app/assets/stylesheets/users.scss */
#new_user table, #login-form table,
.edit_meeting table, .edit_speaker table, .edit_talk table, .edit_user table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, /Users/dana/Development/testrubypdx/app/assets/stylesheets/users.scss */
#new_user th, #new_user td, #login-form th, #login-form td,
.edit_meeting th,
.edit_meeting td, .edit_speaker th, .edit_speaker td, .edit_talk th, .edit_talk td, .edit_user th, .edit_user td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/* line 24, /Users/dana/Development/testrubypdx/app/assets/stylesheets/users.scss */
#new_user .field, #new_user .actions, #login-form .field, #login-form .actions,
.edit_meeting .field,
.edit_meeting .actions, .edit_speaker .field, .edit_speaker .actions, .edit_talk .field, .edit_talk .actions, .edit_user .field, .edit_user .actions {
  box-sizing: border-box;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 29, /Users/dana/Development/testrubypdx/app/assets/stylesheets/users.scss */
#new_user .field input, #new_user .field select, #login-form .field input, #login-form .field select,
.edit_meeting .field input,
.edit_meeting .field select, .edit_speaker .field input, .edit_speaker .field select, .edit_talk .field input, .edit_talk .field select, .edit_user .field input, .edit_user .field select {
  width: 100%;
}

/* line 35, /Users/dana/Development/testrubypdx/app/assets/stylesheets/users.scss */
#about-us .inset-picture {
  position: relative;
  float: left;
  display: inline;
  clear: both;
  margin-right: 1em;
  margin-bottom: 1em;
}
/* line 44, /Users/dana/Development/testrubypdx/app/assets/stylesheets/users.scss */
#about-us p {
  display: inline;
  position: relative;
}
