<div class='row'>
  <div class='col-lg-8 col-lg-offset-2 centered'>

    <h1>Editing User</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', '/' %><br><br>
  </div>
</div>
