<p>Hi Dana!</p>
<p>You got a message from <%= @form_data[:name] %> through testrubypdx.org.</p>
<h4 style="display: inline;">Email: </h4><p style="display: inline;"><%= @form_data[:email] %></p>
<h4>Message:</h4>
<p><%= @form_data[:body] %></p>
