<p>Hi Dana! Looks like <strong><%= "#{@form_data[:first_name]} #{@form_data[:last_name]}" %></strong> wants to speak at Test Ruby PDX! Here are the details:</p>
<ul>
  <li><strong>E-mail:</strong> <%= @form_data[:email] %></li>
  <li><strong>Talk Title:</strong> <%= @form_data[:talk_title] %></li>
  <li><strong>Talk Description:</strong> <%= @form_data[:talk_description] %></li>
</ul>