<div class="container pt">
  <div class="row mt">
    <div id='about-us' class="col-lg-12">
      <h4>ABOUT TEST RUBY PDX</h4>
      <p>Test Ruby PDX is Portland's only user group focused on Ruby testing from a developer's perspective. Our monthly meetings offer developers of all levels an opportunity to meet other developers, ask questions, and hear talks about Ruby testing tools and practices. We are still a brand new user group and will be announcing our first meeting in the next couple weeks. <a href='http://twitter.com/danascheider'>Follow our organizer on Twitter</a> to find out more!</p><br /><br />
      <h5>THE RUBY TESTING TOOLBOX</h5>
      <p>The Ruby language has a vibrant ecosystem for testing! In addition to a variety of great test frameworks, friendly, fun-to-use tools abound for creating fixtures and mocks, running tests against multiple versions of your gemset, and running headless browser tests, to name just a few. At our meetings, you can learn more about which tools are available, which make sense for your project, and the best ways to integrate the ones you ultimately choose.</p><br /><br />
      <h5>INTERMEDIATE & ADVANCED TESTING TOPICS</h5>
      <p>Do books and tutorials leave you with more questions than answers, or do they not address your use case? If so, come to test Ruby PDX for guidance beyond the basics that most tutorials offer. Plus, we bet the tutorials didn't give you free pizza.</p><br /><br />
      <h5>DEVELOPER FOCUSED</h5>
      <p>QA is great and all, but you don't want to wait for them to figure out if your code works! Test Ruby PDX is 100% developer focused (although everyone is totally welcome, of course!).</p><br /><br />

      <h4>ABOUT OUR SPONSOR</h4>
      <%= image_tag 'renew_financial_logo.png', class: 'inset-picture', height: '75', media: 'all', 'data-turbolinks-track' => true%><p><a href='http://www.renewfinancial.com'>Renew Financial</a> has generously offered to host Test Ruby PDX's meetings at their lovely and conveniently located new office (it's the former Epicodus space, for those of you who have been there). Renew Financial offers financing for sustainable energy projects at the consumer level (think solar panels), and is also becoming a major employer of Ruby developers in Portland.</p><br /><br />

      <h4>ABOUT OUR ORGANIZER</h4>
      <%= image_tag 'headshot_2015.jpg', class: 'inset-picture', height: '100', media: 'all', 'data-turbolinks-track' => true %><p><a href='mailto:dana.scheider@gmail.com'>Dana Scheider</a> is a freelance Ruby developer and opera singer who has been based in Portland for most of her life. A contributor to the Cucumber testing framework, Dana is an outspoken advocate for testing and behavior-driven development. She loves helping others understand BDD and how it can make their projects better and more fun to work on. You should <a href='http://twitter.com/danascheider'>follow her</a> on Twitter!</p>
    </div><!-- /colg-lg-12 -->
  </div><!-- /row -->
</div><!-- /container -->