<div class="container pt">
  <div class="row mt">
    <article id='about-us' class="col-lg-12">
      <section id='about_test_ruby_pdx'>
        <h2>About Test Ruby PDX</h2>
        <p>Test Ruby PDX is Portland's only user group focused on Ruby testing from a developer's perspective. Our monthly meetings, held on the second Monday of each month, offer developers of all levels an opportunity to meet other developers, ask questions, and hear talks about Ruby testing tools and practices. <a href='http://twitter.com/testrubypdx'>Follow us on Twitter</a> to find out about future meetings and talks!</p><br /><br />
        <h3>The Ruby Testing Toolbox</h3>
        <p>The Ruby language has a vibrant ecosystem for testing! In addition to a variety of great test frameworks, friendly, fun-to-use tools abound for creating fixtures and mocks, running tests against multiple versions of your gemset, and running headless browser tests, to name just a few. At our meetings, you can learn more about which tools are available, which make sense for your project, and the best ways to integrate the ones you ultimately choose.</p><br /><br />
        <h3>Intermediate & Advanced Testing Topics</h3>
        <p>Do books and tutorials leave you with more questions than answers, or do they not address your use case? If so, come to Test Ruby PDX for guidance beyond the basics that most tutorials offer. Plus, we bet the tutorials didn't give you free pizza.</p><br /><br />
        <h3>Developer Focused</h3>
        <p>QA is great and all, but you don't want to wait to figure out if your code works until they've done their thing! Test Ruby PDX is 100% developer focused (although everyone is totally welcome, of course!).</p><br /><br />
      </section>

      <section id='about_our_sponsor'>
      <h2>About Our Sponsor</h2>
        <%= image_tag 'renew_financial_logo.png', class: 'inset-picture', alt: '', height: '75', media: 'all', 'data-turbolinks-track' => true%><p><a href='http://www.renewfinancial.com'>Renew Financial</a> has generously offered to host Test Ruby PDX's meetings at their lovely and conveniently located new office (it's the former Epicodus space, for those of you who have been there).</p><br><br><p>Renew Financial was founded in 2008 by <a href='https://renewfinancial.com/staff/cisco-devries-ceo/'>Cisco DeVries</a>, who brought together a multidisciplinary team of experts in finance, technology, operations and government policy to innovate the Property Assessed Clean Energy (PACE) financing model. Their mission is to develop innovative financing designed to transform America’s economy to clean energy. They specialize in affordable financing for renewable energy and energy efficiency projects and we are developing an array of financing products that will help move America toward a clean energy model.</p><br /><br />
      </section>

      <section id='about_our_organizer'>
        <h2>About Our Organizer</h2>
        <%= image_tag 'headshot_2015.jpg', class: 'inset-picture', alt: '', height: '100', media: 'all', 'data-turbolinks-track' => true %><p><a href='mailto:dana.scheider@gmail.com'>Dana Scheider</a> is a freelance Ruby developer and opera singer who has been based in Portland for most of her life. A contributor to the Cucumber testing framework, Dana is an outspoken advocate for testing and behavior-driven development. She loves helping others understand <abbr title='Behavior-driven development'>BDD</abbr> and how it can make their projects better and more fun to work on. You should <a href='http://twitter.com/danascheider'>follow her</a> on Twitter!</p><br /><br />
      </section>

      <section id='code_of_conduct'>
        <h2>Code of Conduct</h2>
        <p>Since every developer should enjoy the benefits of testing their own code, it's important that Test Ruby PDX be a space where everyone feels safe and welcome. The following are some guidelines suggesting appropriate and inappropriate behaviors. Violations will be handled on a case-by-case basis, but be aware that you may be asked to leave if your behavior is out of line. <strong>Our guiding principle is "Be kind."</strong> If you have to ask if you're being a jerk, the answer is probably yes.</p><br><br>
        <ul>
          <li><strong>DO welcome everyone.</strong> We anticipate a diverse audience and encourage you to make connections with other people regardless of their race, national origin, religion, sexual orientation, gender identity/expression, physical appearance, disability, socioeconomic background, and other personal characteristics of that nature. They'll feel more welcome and you may well learn some new things about coding, testing, or life in general.</li>
          <li><strong>DO treat others how you'd like to be treated.</strong> Most of us want to be welcomed into a group, to feel like we fit in, to be called by the name and pronoun we want, to be treated like competent adults, and not to be subjected to the ridicule of our peers. Please keep this in mind when you're interacting with other people.</li>
          <li><strong>DO recognize everyone has different sensitivities.</strong> If someone reacts to something differently than you do, it might not be that they are overreacting. Instead, they might be responding reasonably in the context of their life experiences. Please do your best to anticipate what those sensitivities might be and respond accordingly.</li>
          <li><strong>DO behave your best regardless of who is in attendance.</strong> If you wouldn't say something or act a certain way in front of certain people, you probably shouldn't do it when they aren't there either.</li>
          <li><strong>DO take criticism in stride.</strong> Corrections like, "Actually, the pronouns I use are 'she' and 'her'," are not attacks. Your response to them should be to apologize and do better in the future. 
          <li><strong>DON'T use language commonly used to disparage particular people or groups.</strong> This includes sexist, racist, heterosexist, and cissexist words and stereotypes (even if you think the stereotype casts the group in a positive light).</li>
          <li><strong>DON'T harass people, sexually or otherwise.</strong> If someone has asked you to stop doing whatever you're doing - <em>or if you notice they don't like what you're doing</em> - stop and apologize, even if it seems unreasonable to you. Then remember, they are not under any obligation to accept your apology or interact with you in the future.</li>
        </ul>
      </li>
    </article><!-- /colg-lg-12 -->
  </div><!-- /row -->
</div><!-- /container -->