<!-- +++++ Welcome Section +++++ -->
<div id="ww">
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <%= image_tag 'ruby.svg', media: 'all', 'size' => '100', 'data-turbolinks-track' => true %>
        <h1>Welcome to Test Ruby PDX!</h1>
        <p>We are the only developer-focused Ruby testing user group in the Portland area. We're a brand-new user group and plan to meet every month to offer conversation, peer mentoring, talks, and pizza to Ruby developers of all levels.</p>
        <p>Please consider dropping by our next meeting! We meet at the conveniently-located office of our friends at <a href='http://www.renewfinancial.com'>Renew Financial</a>. We encourage you to <a href='/contact'>contact us</a> if you have any questions or would like to speak at one of our upcoming meetings!</p>
      
      </div><!-- /col-lg-8 -->
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /ww -->