<!-- +++++ Welcome Section +++++ -->
<div id="ww">
    <div class="container">
    <div class="row">
      <article class="col-lg-8 col-lg-offset-2 centered">
        <%= image_tag 'ruby.svg', media: 'all', 'size' => '100', 'data-turbolinks-track' => true %>
        <h1>Welcome to Test Ruby PDX!</h1>

        <!-- Panel displays our next meeting -->
        <% meeting = Meeting.soonest %>
        <% if meeting %>
          <div id='next-meeting' class='panel panel-default'>
            <div class='panel-body'>
              <h2>Next Meeting:</h2>
              <h3><%= link_to "#{meeting.display_time} #{meeting.display_date}", meeting_path(meeting) %></h3>
              <p><%= meeting.description %>
            </div>
          </div>
        <% end %>

        <p>We are the only developer-focused Ruby testing user group in the Portland area. We're a brand-new user group and will meet on the second Monday of each month to offer conversation, peer mentoring, talks, and pizza to Ruby developers of all levels.</p>
        <p>Please consider dropping by our next meeting! We meet at the conveniently-located office of our friends at <a href='http://www.renewfinancial.com'>Renew Financial</a>. We encourage you to <a href='/contact'>contact us</a> if you have any questions or would like to speak at one of our upcoming meetings!</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.4720808821035!2d-122.67959114896564!3d45.52070487899911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54950a043c16fc93%3A0x62392a499f2b3951!2s400+SW+6th+Ave%2C+Portland%2C+OR+97204!5e0!3m2!1sen!2sus!4v1447822172341" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </article><!-- /col-lg-8 -->
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /ww -->