<div class='container pt'>
  <div class='row mt'>
    <article id='speak' class='col-lg-12'>
      <section id='intro'>
        <h2>Speak at Test Ruby PDX</h2>
        <p>Each month, Test Ruby PDX presents one or two talks ranging in length from
        20 minutes to 1 hour. If you would like to speak about an issue related to Ruby
        testing, we'd love to hear what you have to say! On this page you'll find
        all the information you need to create and submit an awesome talk.</p>
      </section>
      <section id='faq'>
        <h3>Frequently Asked Questions</h3>
        <p>Here are the questions we hear the most often from prospective speakers. If
          you have another one, feel free to <a href='/contact'>contact us</a>!
        </p>
        <h4>What perspectives are you looking for?</h4>
        <p>Test Ruby PDX exists to promote Ruby testing in all its forms. Different things
          work for different people and different projects, and reasonable people can 
          disagree. That's why we encourage you to submit any testing-related talk. If
          we think it needs tweaking, we'll let you know!</p>
        <h4>How long should my talk be?</h4>
        <p>Talks can be anywhere from 20 minutes to 1 hour in length. We encourage you to
          include Q & A with your talk. At this point, we don't do lightning talks.
        </p>
        <h4>What topics should I cover?</h4>
        <p>We are very open to suggestions, but if you're looking for inspiration, check
          out <a href='#suggested_topics'>our list of suggested topics</a>, below.
        </p>
      </section>
    </article>
  </div>
</div>