// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_meeting, #new_talk, #new_speaker {
  td, th {
    padding: 0.5em;
  }

  #nested_speaker_form {
    display: none;

    td, th {
      padding: 0.25em;
    }
  }
}