// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin_navbar .nav-pills > li.active > a {
  background-color: #1ABC9C;
}

#admin_panel {
  padding: 4em;
}

.admin_view:not(.active) {
  display: none;
}

#about-us {
  h3, h4 {
    text-transform: uppercase;
  }
}