// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  width: 100%;

  tr > th {
    min-width: 15%;
  }
}

#new_user {
  .field, .actions {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}